html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-master {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    overflow: auto;

}
.box-1{
    display: flex;
    flex-direction: column;
    background-color: hsl(206deg 33% 96%);
    width: 30%;
}
.box-2{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    border-left: 1px solid hsl(60deg 6% 93%);
}
.header-b1{
    height: 70px;
    background-color: hsl(206deg 24% 87%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-b2{
    height: 80px;
    background-color: rgba(80,157,225,255);
    color: hsl(190deg 100% 90%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-list-b2{
    width: 60%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
}
.friends{
    display: inline-flex;
    background-color: hsl(207deg 72% 65%);
    width: 100px;
    height: 40px;
    border-radius: 3px;
    justify-content: center;
  align-items: center;
}
.chat-box-b2{
    display: flex;
    height: 100%;
}
.chat{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: hsl(0deg 0% 100%);
}
.online-user{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: hsl(206deg 33% 96%);
}
.online-user-header{
    height: 60px;
    border-bottom: 1px solid hsl(202deg 20% 92%);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;

}
.imageClass{
    width: 18%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}
.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 15%;
  }
.online-user-header-content{
    color: hsl(207deg 41% 70%);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-header{
    display: flex;
    height: 60px;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
    border-bottom: 1px solid hsl(60deg 6% 93%);
}
.header-content-1{
    color: hsl(203deg 32% 65%);
    font-size: large;
    width: 40%;
}
.header-content-2{
    display: flex;
    flex-wrap: nowrap;
	align-items: center;
	align-content: center;
    width: 40%;
}
.dots-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.dots-icon-1{
    background-color: hsl(206deg 33% 96%);
    width: 60px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-b1{
    display: flex;
    height: 60px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    border-bottom: 1px solid hsl(202deg 20% 92%);
}
.list-friends{
    width: 40%;
    color: rgb(111, 111, 211);
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-new{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-new1{
    width: 80px;
    height: 40px;
    border-radius: 4px;
    color: white;
    font-size: small;
    background-color: hsl(207deg 69% 59%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.friends-list-box{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.friends-chat{
    height: 100px;
    border-bottom: 1px solid hsl(192deg 14% 93%);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}
.badge {
    position: absolute;
    top: 140px;
    right: 1310px;
    padding: 4px 8px;
    border-radius: 50%;
    background-color: hsl(207deg 68% 58%);
    border : 2px solid white;
    color: white;
  }